@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yuji+Mai&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    border-radius: 20px;
}

.formContainer {
    display: flex;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgb(0, 0, 0);
    padding: 92px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 600px;
    color: white;
}

.registerContainer {
    background: rgb(255, 255, 255);
    padding-top: 10px;
    padding: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 600px;
    width: 600px;
}

.h1 {
    display: flex;
    font-size: 2rem;
    margin-bottom: 10px;
    color: white;
    margin: 40px;
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.inputField {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    width: 100%;
}

.inputCadastro{
    font-family: "Montserrat", sans-serif;
    width: 100%;
    padding: 20px;
    padding-left: 40px;
    font-size: 16px;
    border-radius: 22px;
    border: 1px solid #ddd;
    outline: none;
    margin: 1px;
    background-color: #E0E0E0;
}

.icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.registerButton {
    font-family: "Montserrat", sans-serif;
    width: auto;
    padding: 12px 110px;
    background-color: #30F537;
    border: none;
    border-radius: 22px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 650;
    margin: 0 auto;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.registerButton:hover {
    background-color: #1ea53b;
}

.loginButton {
    font-family: "Montserrat", sans-serif;
    width: 250px;
    padding: 30px;
    background-color: #30F537;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 50px;
    cursor: pointer;
    color: #000000;
    border-color: #30F537;
    border: none;
    font-weight: 650;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.loginButton:hover {
    background-color: #1ea53b;
}

.voltarButton {
    font-family: "Montserrat", sans-serif;
    width: 100px;
    padding: 7px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 15px;
    margin-top: 100px;
    margin-right: 250px;
    cursor: pointer;
    border-color: white;
    color: #ffffff;
}

.loginContainer p {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 22px;
    margin-top: 20px;
    text-align: center;
}

.registerContainer h1 {
    font-family: "Montserrat", sans-serif;
    color: black;
    text-align: center;
    padding-top: 10px;
}

.registerContainer p {
    font-family: "Montserrat", sans-serif;
    color: black;
}

.erro {
    color: red;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 10px;
}

.mostrarPassword {
    background: none;
    border: none;
    color: #000000;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 54%;
    transform: translateY(-50%);
    font-family: "Montserrat", sans-serif;
}

.mostrarPassword svg {
    transition: transform 0.3s ease;  /* Transição suave no ícone */
  }
  
  /* Exemplo de efeito de hover */
  .mostrarPassword:hover svg {
    transform: scale(1.4); /* Aumenta um pouco o tamanho do ícone ao passar o mouse */
  }


.icon {
    font-size: 20px;
    position: absolute;
    left: 10px;
    pointer-events: none;
}

/* Ajuste no campo de placeholder (apenas para a senha) */
.inputSenha::placeholder {
    padding-left: 30px; /* Ajuste no padding-left para afastar mais o texto da borda */
}

/* Ajuste do texto do campo para que fique alinhado com os outros campos */
input::placeholder {
    text-indent: 5px;  /* Ajuste de indentação para todos os campos de texto */
}
