@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yuji+Mai&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
}

.formContainer {
    display: flex;
}

.registerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgb(0, 0, 0);
    padding: 92px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 600px;
    color: white;
}


.loginContainer {
    background: rgb(255, 255, 255);
    padding: 70px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 600px;
    font-family: "Montserrat", sans-serif;
}

.h1 {
    color: black;
    text-align: center;
    padding-top: 10px;
    font-family: "Montserrat", sans-serif;
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.inputField {
    position: relative;
    margin-bottom: 15px;
}

.inputLogin {
    width: 100%;
    padding: 20px;
    padding-left: 40px;
    font-size: 16px;
    border-radius: 22px;
    border: 1px solid #ddd;
    outline: none;
    margin: 10px;
    background-color: #E0E0E0;
    font-family: "Montserrat", sans-serif;
}

.icon {
    position: absolute;
    left: 23px;
    top: 50%;
    transform: translateY(-50%);
}

.loginButton {
    font-family: "Montserrat", sans-serif;
    width: auto;
    padding: 12px 110px;
    background-color: #30F537;
    border: none;
    border-radius: 22px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 650;
    margin: 0 auto;
}

.registerButton {
    font-family: "Montserrat", sans-serif;
    width: 250px;
    padding: 30px;
    background-color: #30F537;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 50px;
    cursor: pointer;
    color: #000000;
    border-color: #30F537;
    border: none;
    font-weight: 650;
}

.voltarButton2 {
    font-family: "Montserrat", sans-serif;
    width: 100px;
    padding: 7px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 15px;
    margin-top: 100px;
    margin-right: 250px;
    cursor: pointer;
    border-color: white;
    color: #ffffff;
}

.loginContainer p {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.registerContainer h1 {
    color: black;
    text-align: center;
    padding-top: 10px;
    font-family: "Montserrat", sans-serif;
}

.registerContainer p {
    color: white;
    font-size: 22px;
    margin-top: 20px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

/* Alteração para o botão de mostrar/ocultar a senha */
.togglePassword {
    background: none;
    border: none;
    color: #000000;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 54%;
    transform: translateY(-50%);
    font-family: "Montserrat", sans-serif;
}

.togglePassword svg {
    transition: transform 0.3s ease;  /* Transição suave no ícone */
  }
  
  /* Exemplo de efeito de hover */
  .togglePassword:hover svg {
    transform: scale(1.4); /* Aumenta um pouco o tamanho do ícone ao passar o mouse */
  }